<div class="section-table">
    {{ $pages := (where .Pages "Type" "docs").ByDate.Reverse }}
    {{ $pageSize := default 10 .Site.Params.page.pageSize }}
    {{ $paginator := .Paginate $pages $pageSize }}

    {{ if gt (len $paginator.Pages) 0 }}
    <table class="doc-table">
        <thead>
        <tr>
            <th>#</th>
            <th>标题</th>
            <th>日期</th>
            <th>制定</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        {{ range $index, $page := $paginator.Pages }}
        <tr>
            <td>{{ add (mul (sub $paginator.PageNumber 1) $paginator.PagerSize) (add $index 1) }}</td>
            <td>🔗 <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></td>
            <td>
                {{ $rawDate := .Params.publication_date | default .Params.effective_date | default .Params.date }}
                {{ with $rawDate }}
                    {{ . | time.Format "2006-01-02" }}
                {{ end }}
            </td>
            <td>
                {{ if .Params.authors }}
                    {{delimit .Params.authors "、"}}<br>
                {{ else if .Params.author }}
                    {{ .Params.author }}<br>
                {{ end }}
            </td>
            <td>
            {{ $status := .Params.status }}
            {{ if $status }}
                {{ $class := index .Site.Params.statusClassMap $status | default "unknown" }}
                <span class="law-status{{ with $class }} {{ . }}{{ end }}">{{ $status }}</span>
            {{ end }}
            </td>
        </tr>
        {{ end }}
        </tbody>
    </table>
    {{ else }}
    <p>暂无内容</p>
    {{ end }}
 
<div class="td-doc-pagination">
{{ partial "pagination.html" . -}}
</div>
</div>
