{{ $context := .context -}}
{{ $taxo := .taxo -}}
{{ $title := .title -}}
{{ if isset $context.Site.Taxonomies (lower $taxo) -}}
  {{ $taxonomy := index $context.Site.Taxonomies (lower $taxo) -}}
  {{ if (gt (len $taxonomy) 0) -}}
    <div class="taxonomy taxonomy-terms-cloud taxo-{{ urlize $taxo }}">
      {{ with $title -}}
        <h5 class="taxonomy-title">{{ . }}</h5>
      {{ end -}}
    <details class="doc-details" {{ cond $context.Site.Params.Taxonomy.taxonomyCollapse "" "open" }}>
      <summary>
        {{ humanize ( T "ui_all" ) }} ({{ len $taxonomy }})
      </summary>
      <ul class="taxonomy-terms">
        {{ range $taxonomy -}}
          <li><a class="taxonomy-term" href="{{ .Page.Permalink }}" data-taxonomy-term="{{ urlize .Page.Title }}"><span class="taxonomy-label">{{ .Page.Title }}</span><span class="taxonomy-count">{{ .Count }}</span></a></li>
        {{ end -}}
      </ul>
    </details>
    </div>
  {{ end -}}
{{ end -}}
